*{
    cursor: default;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #888 transparent;
}
